<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tinymce/css/prism.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Tutorials!</title>
</head>
<body>
  {% include 'simplesite/includes/navbar.html' %}  
  {% include 'simplesite/includes/messaging.html' %}
  {% block content %}
  {% endblock %}
    
  <script type="text/javascript" src="{% static 'tinymce/js/prism.js' %}"></script>
  <script>M.AutoInit();</script>
</body>
</html>