* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(235.79deg, #D64A4A 13.25%, rgba(247, 129, 64, 0.980117) 48.66%, rgba(207, 75, 0, 0.95) 93.99%);
	min-height: 100vh;
}

.title {
	margin-top: 2rem;
}

.top-task {
	height: 18vh;
	width: 100%;
	margin: 4rem 0;
	justify-content: flex-start;
}

.top-task p {
	display: flex;
	flex-direction: column;
}

.top-task button {
	margin: 1rem 0;
	width: 100px;
	height: 40px;
	background: #3C3087;
	box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.25);
	border-radius: 7px;
	border-style: none;
	color: white;
}

.top-task button:hover {
	background: #2B2361;
}

.top-task label {
	margin: 1rem 0;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.insert {
	width: 100%;
	height: 50px;
	background: #F2F2F2;
	box-shadow: 5px 5px 5px rgba(60, 59, 59, 0.49);
	border-radius: 5px;
	border-style: none;
	padding: 20px;
	font-size: 22px;
	align-self: center;
}

.container {
	width: 50%;
	margin: auto;
}

.title {
	text-align: center;
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: white;
}

.task-list {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.task-list {
	background: black;
	padding: 10px;
	border-radius: 5px;
	border-style: none;
}

.todo-item {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: auto;
	margin-bottom: 5px;
	align-items: center;
	background: gray;
	height: 3rem;
	padding: 5px;
}

.delete {
	margin-right: 10px;
}

.buttons {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 30%;
	margin-left: auto;
	justify-content: space-around;

}